# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 

* At each school, no matter the grade level, the overall grade level groups performed about the same (deviation of +/- 1.5%)

* According to the data, it seems lower performing schools are getting the most funded, possibly due to being a Title I school. Further research should be conducted to make this conclusion.
---

In [1]:
# Dependencies
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Files to Load (Remember to Change These)
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(school_data)
school_df.head(3)

   School ID           school_name      type  size   budget
0          0     Huang High School  District  2917  1910635
1          1  Figueroa High School  District  2949  1884411
2          2   Shelton High School   Charter  1761  1056600

In [4]:
# Read Student Data File and store into Pandas DataFrames
student_df = pd.read_csv(student_data)
student_df.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60

In [5]:
# Combine the data into a single dataset.  
school_complete_df = pd.merge(student_df, school_df, how="left", on=["school_name"])
school_complete_df.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635

# Disctrict Summary

In [6]:
# Calculate the Total Schools
school_count = len(school_complete_df["school_name"].unique())
school_count

15

In [7]:
# Calculate the Total Students
student_count = school_complete_df["Student ID"].count()
student_count

39170

In [8]:
# Calculate the Total Budget
total_budget = school_df["budget"].sum()
total_budget

24649428

In [9]:
# Calculate the Avg Math Score
avg_math_score = school_complete_df["math_score"].mean()
avg_math_score

78.98537145774827

In [10]:
# Calculate the Avg Reading Score
avg_reading_score = school_complete_df["reading_score"].mean()
avg_reading_score

81.87784018381414

In [11]:
# Calculate the Percentage Pass Rate for Math
passing_math_count = school_complete_df[(school_complete_df["math_score"] >= 70)].count()["student_name"]
#passing_math_count
passing_math_percent = passing_math_count / float(student_count) * 100
passing_math_percent

74.9808526933878

In [12]:
# Calculate the Percentage Pass Rate for Reading
passing_reading_count = school_complete_df[(school_complete_df["reading_score"] >= 70)].count()["student_name"]
#passing_reading_count
passing_reading_percent = passing_reading_count / float(student_count) * 100
passing_reading_percent

85.80546336482001

In [13]:
# Calculate the Percentage Pass Rate Overall
passing_overall_count = school_complete_df[(school_complete_df["math_score"] >= 70) 
                        & (school_complete_df["reading_score"] >= 70)].count()["student_name"]
#passing_overall_count
passing_overall_percent = passing_overall_count / float(student_count) * 100
passing_overall_percent

65.17232575950983

In [14]:
# Minor Data Cleanup
district_summary = pd.DataFrame({"Total Schools": [school_count], "Total Students": [student_count], 
                                 "Total Budget": [total_budget],"Average Math Score": [avg_math_score], 
                                 "Average Reading Score": [avg_reading_score],"% Passing Math": [passing_math_percent],
                                 "% Passing Reading": [passing_reading_percent],"% Overall Passing": [passing_overall_percent]
                                })

In [15]:
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

In [16]:
# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [17]:
# Determine the School Type
school_type = school_df.set_index(["school_name"])["type"]
school_type.head()

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [18]:
# Calculate the total student count
per_school_count = school_complete_df["school_name"].value_counts()
per_school_count.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [19]:
# Calculate the total school budget
per_school_budget = school_complete_df.groupby(["school_name"]).mean()["budget"]
per_school_budget.head()

school_name
Bailey High School      3124928.0
Cabrera High School     1081356.0
Figueroa High School    1884411.0
Ford High School        1763916.0
Griffin High School      917500.0
Name: budget, dtype: float64

In [20]:
# Calculate the total per student budget
per_student_budget = per_school_budget / per_school_count
per_student_budget.head()

Bailey High School      628.0
Cabrera High School     582.0
Figueroa High School    639.0
Ford High School        644.0
Griffin High School     625.0
dtype: float64

In [21]:
# Calculate the average test score math
per_school_math = school_complete_df.groupby(["school_name"]).mean()["math_score"].round(2)
per_school_math.head()

school_name
Bailey High School      77.05
Cabrera High School     83.06
Figueroa High School    76.71
Ford High School        77.10
Griffin High School     83.35
Name: math_score, dtype: float64

In [22]:
# Calculate the average test score reading
per_school_reading = school_complete_df.groupby(["school_name"]).mean()["reading_score"].round(2)
per_school_reading.head()

school_name
Bailey High School      81.03
Cabrera High School     83.98
Figueroa High School    81.16
Ford High School        80.75
Griffin High School     83.82
Name: reading_score, dtype: float64

In [23]:
# Get the students who passed math and passed reading by creating separate filtered DataFrames.
school_passing_math = school_complete_df[(school_complete_df["math_score"] >= 70)]
school_passing_reading = school_complete_df[(school_complete_df["reading_score"] >= 70)]
school_passing_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [24]:
# Get the the students who passed both reading and math in a separate DataFrame.
passing_both = school_complete_df[(school_complete_df["math_score"] >= 70)
                & (school_complete_df["reading_score"] >= 70)]
passing_both.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [25]:
#  Calculate the Percentage Pass Rate Math
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_count * 100
per_school_passing_math.round(2).head()

Bailey High School      66.68
Cabrera High School     94.13
Figueroa High School    65.99
Ford High School        68.31
Griffin High School     93.39
dtype: float64

In [26]:
#  Calculate the Percentage Pass Rate Reading
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_count * 100
per_school_passing_reading.round(2).head()

Bailey High School      81.93
Cabrera High School     97.04
Figueroa High School    80.74
Ford High School        79.30
Griffin High School     97.14
dtype: float64

In [27]:
#  Calculate the Percentage Pass Rate Overall
overall_pass_rate = passing_both.groupby(["school_name"]).count()["student_name"] / per_school_count * 100
overall_pass_rate.round(2).head()

Bailey High School      54.64
Cabrera High School     91.33
Figueroa High School    53.20
Ford High School        54.29
Griffin High School     90.60
dtype: float64

In [28]:
# Convert to DataFrame
per_school_summary = pd.DataFrame({"School Type": school_type,"Total Students": per_school_count,
                                   "Total School Budget": per_school_budget,"Per Student Budget": per_student_budget,
                                   "Average Math Score": per_school_math,"Average Reading Score": per_school_reading,
                                   "% Passing Math": per_school_passing_math.round(2),"% Passing Reading": per_school_passing_reading.round(2),
                                   "% Overall Passing": overall_pass_rate.round(2)
                                  })

In [29]:
# Minor data wrangling
per_school_summary = per_school_summary[["School Type", "Total Students", "Total School Budget", "Per Student Budget",
                                         "Average Math Score", "Average Reading Score", 
                                         "% Passing Math", "% Passing Reading", 
                                         "% Overall Passing"]]
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

In [30]:
# Display the DataFrame
per_school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60

# Top Performing Schools

In [31]:
# Sort and show top five schools
top_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54

# Bottom Performing Schools

In [32]:
# Sort and show bottom five schools
bottom_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=True)
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54

# Math Scores by Grade

In [33]:
# Create data series of scores by grade levels using conditionals
ninth_grade = school_complete_df[(school_complete_df["grade"] == "9th")]
#ninth_grade.head(3)
tenth_grade = school_complete_df[(school_complete_df["grade"] == "10th")]
eleventh_grade = school_complete_df[(school_complete_df["grade"] == "11th")]
twelfth_grade = school_complete_df[(school_complete_df["grade"] == "12th")]

In [34]:
# Group each by school name
ninth_grade_scores = ninth_grade.groupby(["school_name"]).mean()["math_score"]
#ninth_grade_scores
tenth_grade_scores = tenth_grade.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_scores = eleventh_grade.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_scores = twelfth_grade.groupby(["school_name"]).mean()["math_score"]

In [35]:
# Combine series into single DataFrame
scores_by_grade = pd.DataFrame({"9th": ninth_grade_scores.round(2), "10th": tenth_grade_scores.round(2),
                                "11th": eleventh_grade_scores.round(2), "12th": twelfth_grade_scores.round(2)})
#scores_by_grade.head()

In [36]:
# Minor data wrangling
scores_by_grade = scores_by_grade[["9th", "10th", "11th", "12th"]]
scores_by_grade.index.name = None

In [37]:
# Display the DataFrame
scores_by_grade.head()

                        9th   10th   11th   12th
Bailey High School    77.08  77.00  77.52  76.49
Cabrera High School   83.09  83.15  82.77  83.28
Figueroa High School  76.40  76.54  76.88  77.15
Ford High School      77.36  77.67  76.92  76.18
Griffin High School   82.04  84.23  83.84  83.36

# Reading Score by Grade

In [38]:
ninth_grade = school_complete_df[(school_complete_df["grade"] == "9th")]
#ninth_grade.head(3)
tenth_grade = school_complete_df[(school_complete_df["grade"] == "10th")]
eleventh_grade = school_complete_df[(school_complete_df["grade"] == "11th")]
twelfth_grade = school_complete_df[(school_complete_df["grade"] == "12th")]

In [39]:
# Group each by school name
ninth_grade_scores = ninth_grade.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_scores = tenth_grade.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_scores = eleventh_grade.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_scores = twelfth_grade.groupby(["school_name"]).mean()["reading_score"]
#twelfth_grade_scores

In [40]:
# Combine series into single DataFrame
scores_by_grade = pd.DataFrame({"9th": ninth_grade_scores.round(2), "10th": tenth_grade_scores.round(2),
                                "11th": eleventh_grade_scores.round(2), "12th": twelfth_grade_scores.round(2)
                               })
#scores_by_grade.head()

In [41]:
# Minor data wrangling
scores_by_grade = scores_by_grade[["9th", "10th", "11th", "12th"]]
scores_by_grade.index.name = None

In [42]:
# Display the DataFrame
scores_by_grade.head()

                        9th   10th   11th   12th
Bailey High School    81.30  80.91  80.95  80.91
Cabrera High School   83.68  84.25  83.79  84.29
Figueroa High School  81.20  81.41  80.64  81.38
Ford High School      80.63  81.26  80.40  80.66
Griffin High School   83.37  83.71  84.29  84.01

# Scores by School Spending

In [43]:
per_student_budget #to figure out intervals of the bins

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [44]:
# Establish the bins
spending_bin = [0, 590, 620, 650, 680]
spending_group = ["<$590", "$591-620", "$621-650", "$651-680"]

In [45]:
# Create a copy of the school summary since it has the "Per Student Budget" 
#  This step can be skip but its best to make a copy. 
school_spending = per_school_summary

In [46]:
# Categorize spending based on the bins.
school_spending["Spending Range (Per Student)"] = pd.cut(per_student_budget, 
                                                             spending_bin, 
                                                             labels = spending_group, 
                                                             right = False)
school_spending.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Range (Per Student)
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64,$621-650
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33,<$590
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20,$621-650
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29,$621-650
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60,$621-650

In [47]:
#  Calculate averages for the desired columns using groupby. 
math_score_spend = school_spending.groupby(["Spending Range (Per Student)"]).mean()["Average Math Score"]
reading_score_spend = school_spending.groupby(["Spending Range (Per Student)"]).mean()["Average Reading Score"]
math_passing_spend = school_spending.groupby(["Spending Range (Per Student)"]).mean()["% Passing Math"]
reading_passing_spend = school_spending.groupby(["Spending Range (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spend = school_spending.groupby(["Spending Range (Per Student)"]).mean()["% Overall Passing"]

In [48]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Score": math_score_spend.round(2),
                                 "Average Reading Score": reading_score_spend.round(2),
                                 "% Passing Math": math_passing_spend.round(2),
                                 "% Passing Reading": reading_passing_spend.round(2),
                                 "% Overall Passing": overall_passing_spend.round(2)
                                })

In [49]:
# Minor data wrangling
spending_summary = spending_summary[["Average Math Score", "Average Reading Score", "% Passing Math", 
                                     "% Passing Reading","% Overall Passing"]]

In [50]:
# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Range (Per Student),,,,,
<$590,83.45,83.94,93.46,96.61,90.37
$591-620,83.60,83.88,94.23,95.90,90.22
$621-650,79.08,81.89,75.67,86.11,66.11
$651-680,77.00,81.03,66.16,81.13,53.53

# Scores by School Size

In [51]:
per_school_count #to figure out the bins

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [52]:
# Establish the bins
size_bin = [0, 1000, 2500, 5000]
group_name = ["Small (<1000)", "Medium (1000-2499)", "Large (2500-5000)"]

In [53]:
# Categorize spending based on the bins
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], 
                                           size_bin, labels = group_name, right = False)
per_school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Range (Per Student),School Size
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64,$621-650,Large (2500-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33,<$590,Medium (1000-2499)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20,$621-650,Large (2500-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29,$621-650,Large (2500-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60,$621-650,Medium (1000-2499)

In [54]:
# Calculate averages for the desired columns. 
math_score_size = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
reading_score_size = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
math_passing_size = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
reading_passing_size = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
overall_passing_size = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [55]:
# Assemble into DataFrame
size_summary = pd.DataFrame({"Average Math Score" : math_score_size.round(2),
                             "Average Reading Score": reading_score_size.round(2),
                             "% Passing Math": math_passing_size.round(2),
                             "% Passing Reading": reading_passing_size.round(2),
                             "% Overall Passing": overall_passing_size.round(2)
                            })

In [56]:
# Minor data wrangling
size_summary = size_summary[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading",
                             "% Overall Passing"]]

In [57]:
# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.82,83.93,93.55,96.10,89.88
Medium (1000-2499),83.36,83.89,93.64,96.75,90.61
Large (2500-5000),76.96,80.97,66.55,80.80,53.67

# Scores by School Type

In [58]:
#  Create new series using groupby for"
# Type | Average Math Score | Average Reading Score | % Passing Math | % Passing Reading | % Overall Passing

type_math_score = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_score = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = per_school_summary.groupby(["School Type"]).mean()["% Overall Passing"]

In [59]:
# Assemble into DataFrame
type_summary = pd.DataFrame({"Average Math Score" : type_math_score.round(2),
                             "Average Reading Score": type_reading_score.round(2),
                             "% Passing Math": type_passing_math.round(2),
                             "% Passing Reading": type_passing_reading.round(2),
                             "% Overall Passing": type_overall_passing.round(2)
                            })

# Minor data wrangling
type_summary = type_summary[["Average Math Score", "Average Reading Score", "% Passing Math","% Passing Reading",
                             "% Overall Passing"]]
# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62,96.59,90.43
District,76.96,80.97,66.55,80.80,53.67